.wp-otr-404 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white;
}

.wp-inr-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  /* animation-name: iettatext;
  animation-duration: 20s;
  animation-delay: 0s;
  animation-iteration-count: infinite; */
  margin-right: 3%;
}
._404 {
  font-size: 200px;
  font-weight: bold;
  color: brown;
  font-family: "Courier New";
}
._404-text {
  font-weight: bold;
  font-family: "Courier New";
}
._404-danger {
  color: brown;
  font-family: "Courier New";
  font-size: 20px;
}
.emoji {
  font-size: 20px;
}
.wp-inr-404 {
  height: calc(95vh - 10vmin);
  width: calc(95vh - 10vmin);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation-name: iettaball;
  animation-duration: 20s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
@keyframes iettaball {
  0% {
    transform: rotate(0deg);
    background-image: url("../../images/23.png");
  }
  15% {
    transform: rotate(45deg);
    background-image: url("../../images/22.png");
  }
  30% {
    transform: rotate(90deg);
    background-image: url("../../images/21.png");
  }
  45% {
    transform: rotate(135deg);
    background-image: url("../../images/23.png");
  }
  60% {
    transform: rotate(225deg);
    background-image: url("../../images/22.png");
  }
  75% {
    transform: rotate(270deg);
    background-image: url("../../images/21.png");
  }
  90% {
    transform: rotate(315deg);
    background-image: url("../../images/23.png");
  }
  100% {
    transform: rotate(360deg);
    background-image: url("../../images/22.png");
  }
}
/* @keyframes iettatext {
  0% {
    color: #ff8a1e;
  }
  15% {
    color: dodgerblue;
  }
  30% {
    color: var(--foreground-color);
  }
  45% {
    color: #ff8a1e;
  }
  60% {
    color: dodgerblue;
  }
  75% {
    color: var(--foreground-color);
  }
  90% {
    color: #ff8a1e;
  }
  100% {
    color: dodgerblue;
  }
} */
@media (max-width: 480px) {
  .wp-otr-404 {
    flex-direction: column;
  }
  .wp-inr-404 {
    height: calc(25vh - 10vmin);
    width: calc(25vh - 10vmin);
  }
  ._404 {
    font-size: 70px;
  }
}
